.timeline-container {
  margin-left: 50px;
}

.circle-vis-container {
  height: 550px;
  position: relative;
}

.circle-vis {
  height: 640px;
  width: 700px;
  position: relative;
}

.circle-vis path.arc {
  cursor: move;
  fill: #fff;
}

.circle-vis .node {
  font-size: 10px;
}

.circle-vis .node:hover {
  fill: #1f77b4;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.circle-vis #node-hostname {
  display: none;
}

.circle-vis .link {
  fill: none;
  stroke: #1f77b4;
  stroke-opacity: 1;
  pointer-events: none;
}

.circle-vis .link.source, .circle-vis .link.target {
  stroke-opacity: 1;
  stroke-width: 1px;
  opacity: 1;
}

.circle-vis .node.opaque,
.circle-vis .link.opaque {
  opacity: 0.1;
  transition: 300ms all;
}

.circle-vis .node.out-time-frame,
.circle-vis .link.out-time-frame {
  opacity: 0.1 !important;
  transition: 300ms all;
}

.popover-content {
  font-size: 12px !important;
}

#time-slider {
  margin-bottom: 50px;
}